@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

-body {
 overflow: hidden;
}

.gradient-text {
  @apply bg-gradient-to-r from-purple-400 via-pink-500 to-cyan-400 bg-clip-text text-transparent;
}

html {
  scroll-behavior: smooth;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.8; }
}
.animate-pulse-slow {
  animation: pulse-slow 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
/* Stile per la barra di scorrimento */
::-webkit-scrollbar {
  width: 10px; /* Larghezza della barra di scorrimento */
}

/* Stile per il 'binario' della barra di scorrimento (lo sfondo) */
::-webkit-scrollbar-track {
  background: #0f172a; /* Sfondo scuro, lo stesso del dark mode */
  border-radius: 10px;
}

/* Stile per il 'pollice' della barra di scorrimento (la parte che si muove) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #a78bfa, #f472b6, #22d3ee); /* Il tuo gradiente principale */
  border-radius: 10px;
}

/* Stile del pollice al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #c4b5fd, #fb7185, #67e8f9); /* Un gradiente leggermente più chiaro al passaggio del mouse */
}